.container
  .col-md-8.col-md-offset-2
    .panel.panel-success
      .panel-heading
        %h3.panel-title Create an activity
      .panel-body
        = form_for :activity do |f|
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :scheduled_at
            = f.text_field :scheduled_at, class: 'datepicker form-control'
          = f.submit 'Save', class: 'btn btn-default'

.container
  .col-md-8.col-md-offset-2
    .panel.panel-success
      .panel-heading
        %h3.panel-title Activities
      %table.table
        %thead
          %th.text-center Name
          %th.text-center Scheduled at
          %th.text-center Edit
          %th.text-center Delete
        %tbody
          - @activities.each do |activity|
            %tr
              = form_for :activity, url: activity_path(activity), method: :put do |f|
                = f.hidden_field :id, value: activity.id
                %td.text-center= f.text_field :name, value: activity.name, class: 'form-control'
                %td.text-center= f.text_field :scheduled_at, class: 'datepicker form-control', value: activity.scheduled_at.strftime("%d/%m/%Y - %I:%M%p")
                %td.text-center= f.submit 'Save', class: 'btn btn-warning'
                %td.text-center= link_to 'delete', activity, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } 
