.container
  .col-md-6.col-md-offset-3
    .panel.panel-success
      .panel-heading
        %h3.panel-title Create an activity
      .panel-body
        = form_for :activity do |f|
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :scheduled_at
            = f.text_field :scheduled_at, class: 'datepicker form-control'
          = f.submit 'Save', class: 'btn btn-default'

.container
  .col-md-6.col-md-offset-3
    .panel.panel-success
      .panel-heading
        %h3.panel-title Activities
      .panel-body
        %table.table.table-bordered
          %thead
            %th.text-center Name
            %th.text-center Scheduled at
            %th.text-center
          %tbody
            - @activities.each do |activity|
              %tr
                %td.text-center= activity.name
                %td.text-center= activity.scheduled_at.strftime("%m/%d/%Y - %I:%M%p")
                %td.text-center= link_to 'delete', activity, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } 

