<!DOCTYPE html>
%html
  %head
    %title Schmoogle
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %link{ rel:"stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}

    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"}
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"}

    %link{ href: 'https://fonts.googleapis.com/css?family=Great+Vibes|Poiret+One|Roboto:400,300,100', rel: 'stylesheet', type: 'text/css' }
    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"}
    %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css"}
    %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css"}

  %body{class: content_for(:body_classes)}
    %header
      %nav.navbar.navbar-default
        .container
          .navbar-header
            = link_to "/", class: "navbar-brand" do
              Schmoogle
              %span.logo.fa.fa-calendar
              Planner

    = yield
